.wrapAroundText{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.wrapAroundText .aboutImg {
    float: right;
    
    /* Float image to the right and have text wrap around it */
    margin-left: auto;
    margin-right: 0;

    shape-outside: circle(50%);
}

.wrapAroundText caption {
    margin-left: auto;
    margin-right: 0;
    /* Caption text is centered */
    text-align: center;
}